<div class="all-tables group">
  <div class="left">
  <div class="nutrition group">
  <table class="nutrition-goals">
    <tr>
      <th>Nutrition Goals</th>
      <th>Goals</th>
    </tr>

    <tr>

      <td><strong>Net Calories Consumed*/Day</strong></td>
      <td class="red"><%= dietProfile.get("netCal") %> Calories/Day</td>
    </tr>

    <tr>
      <td>Carbs/Day</td>
      <td><%= dietProfile.get("carbs") %> g</td>
    </tr>

    <tr>
      <td>Fat/Day</td>
      <td><%= dietProfile.get("fats") %> g</td>
    </tr>

    <tr>
      <td>Protein/Day</td>
      <td><%= dietProfile.get("protein") %> g</td>
    </tr>
  </table>
  </div>

  <div class="fitness">
  <table class="fitness-goals">
    <tr>
      <th>Fitness Goals</th>
      <th>Goals</th>
    </tr>

    <tr>
      <td><strong>Calories Burned/Week</strong></td>
      <td class="red"><%= dietProfile.get("calsBurned") %> Calories / Week</td>
    </tr>

    <tr>
      <td>Workouts/Week</td>
      <td><%= dietProfile.get("workouts_per_week") %> workouts</td>
    </tr>

    <tr>
      <td>Minutes/Workout</td>
      <td><%= dietProfile.get("mins_per_workout") %> minutes</td>
    </tr>
  </table>
  </div>
  </div>
  <div class="right">
  <table class="diet-profile">
    <tr>
      <th>Your Diet Profile</th>
      <th>Target</th>
    </tr>

    <tr>
      <td colspan="2"><strong>Calories Burned</strong></td>
    </tr>

    <tr>
      <td>From Normal Daily Activity</td>
      <td><%= dietProfile.get("bmr") %> cal/day</td>
    </tr>

    <tr>
      <td colspan="2"><strong>Net Calories Consumed*</strong></td>
    </tr>

    <tr>
      <td>Your Daily Goal</td>
      <td><%= dietProfile.get("netCal") %> cal/day</td>
    </tr>

    <tr>
      <td>Daily Calorie Defecit</td>
      <td class="red"><%= dietProfile.get("calDeficit") %> calories</td>
    </tr>

    <tr>
      <td>Projected Weight Loss</td>
      <td class="red"><%= dietProfile.get("projectedLoss") %></td>
    </tr>
  </table>

  </div>
</div>

<div class="edit group"><a href="#goals/edit">Change Goals</a></div>

<style>
/* PAGE CONTENT */

.all-tables {
  font-family: sans-serif;
  width: 600px;
  margin: 50px auto;
}

.all-tables div:not(.left) {
	  box-shadow: 2px 5px 5px  #888888;
}

.fitness > table > tbody > tr > th, .nutrition > table > tbody > tr > th, .right > table > tbody > tr > th   {
  color: white;
  font-size: 16px;
  background: RGB(27,62,113);
  text-align: left;
  padding: 10px;
  font-family: sans-serif;
}

td {
  background: RGB(244,244,244);
  font-size: 13px;
  padding: 4px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.fitness > table {
  margin-top: 20px;
  width: 100%;
}

.red {
  color: red;
}

.edit {
  margin: 0 auto;
  border: 1px solid grey;
  text-align: center;
  width: 120px;
  background: green;
  padding: 8px;
  border-radius: 5px;
}

.edit > a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

table {
  border-spacing: 1px 0;
}

</style>