<div class="diary-head">
  <% yest = ExerciseDiaryPage.where("exercise_entry_date = ?", @entry_date - 1).first %>
  <% tomo = ExerciseDiaryPage.where("exercise_entry_date = ?", @entry_date + 1).first %>
  
  <a href="<%= exercise_diary_page_url(yest) %>">Yesterday</a>
  <p>Your Exercise Diary For <%= @page.exercise_entry_date.strftime('%a %d %b %Y') %></p>
  <a href="<%= exercise_diary_page_url(tomo) %>">Tomorrow</a>
</div>
<div class="table">
<table>
    <tr class="heading">
      <th class="meal first_col">Cardiovascular</th>
      <th class="macro">Minutes</th>
      <th class="macro">Calories Burned</th>
      <th class="delete"></th>
    </tr>
    
    <% @exercises.each do |exercise| %>
      <tr class="data-entry">
        <td class="first-col"><%= exercise.name %></td>
        <td class="macro"><%= exercise.minutes %></td>
        <td class="macro"><%= exercise.cals_burned %></td>
        <% entry_id = ExerciseEntry.where("cardio_exercise_id = ? AND exercise_diary_page_id = ?", exercise.id, @page.id).first.id %>
        <td class="delete"><%= button_to "-", exercise_diary_page_exercise_entry_url(@page.id, entry_id), :method => :delete %></td>
        </tr>
    <% end %>
    <tr>
      <td class="links">
        <a href="<%= new_exercise_diary_page_exercise_entry_url(@page)  %>">
          Add Exercise</a>
      </td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

</table>
</div>

<div class="totals">

  <table class="total-tabulations">
    <tr class="heading">
      <th class="total-label">Daily Total/Goal</th>
      <th class="total-col">
        <%= @daily_mins_logged %> / <span class="blue"><%= @daily_goal_mins %></span>
      </th>
      <th class="total-col"><%= @daily_cals_burned %> / <span class="blue"><%= @daily_goal_cals %></th>
    </tr>

    <tr class="heading">
      <td class="total-label">Weekly Total/Goal</td>
      <td class="total-col"><%= @weekly_mins_logged %> / <span class="blue"><%= @weekly_goal_mins %></td>
      <td class="total-col"><%= @weekly_cals_burned %> / <span class="blue"><%= @weekly_goal_cals %></td>
    </tr>
  </table>

</div>

<style>

body, table, thead, tfoot, tbody, tr, td, th {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}



.diary-head {
  text-align: center;
  color: RGB(15,68,111);
  font-size: 20px;
  border-bottom: 3px solid RGB(224,224,224);
}

.table, .totals {
 /* border: 1px solid black;*/
  width: 690px;
  margin: 20px auto;
}

.totals {
/*  border: 1px solid black;*/
  height: 90px;
}

th.macro {
  background: RGB(14, 64, 113);
  color: white;
  padding: 15px 10px;
  font-family: sans-serif;
}



.meal {
  text-align: left;
  color: RGB(14, 64, 113);
  font-size: 20px;
  font-family: sans-serif;
  width: 300px;
  font-weight: bold;
}

th, td {
/*  border: 1px solid black;*/
  border-bottom: 1px solid RGB(224,224,224);
  text-align: center;
  font-family: Arial;
  font-size: 12.4px;
  padding: 4px 10px 4px 10px;
  width: 46px;
  
}

.first-col {
  text-align: left;
}

.links {
  padding-right: 140px;

}

.data-entry, .total-col{
  background: RGB(244, 244, 244);
}

.totals {
  font-weight: bold;
}

.total-type {
  background: RGB(14, 64, 113);
  color: white;
  font-size: 12px;
  padding: 15px 10px;
  font-family: sans-serif;
}

.total-tabulations {
  float: right;
  margin-right: 30px;
}

.total-label, .total-col{
  font-size: 15px;
  width: 100px;
}



.remaining {
  color: green;
}

input[type=submit] {
  -webkit-appearance: none;
  border-radius: 20px;
  border: none;
  text-decoration: none;
  background: red;
  color: white;
  padding: none;
  margin: none;
  width: auto;
  height: auto;
  font-size: 10px;
  font-weight: bold;
}

input[type=submit]:hover {
  cursor: pointer;
}

table {
  border-spacing: 1px 0;
}

.blue {
  color: RGB(14, 64, 113)
}

</style>