<div class="nav group">
  <ul>
    <li class="linkylinks"><a class="nav" href="<%= dashboard_url %>">MY HOME</a></li>
    <li class="linkylinks"><a class="nav" href="<%= diary_page_url(todays_page) %>">FOOD</a></li>
    <li class="linkylinks selected"><a class="nav" href="<%= exercise_diary_page_url(todays_exercise_page) %>">EXERCISE</a></li>
    <li class="linkylinks"><a class="nav" href="<%= reports_url %>">REPORTS</a></li>
    <li class="linkylinks"><a class="nav" href="#">COMMUNITY</a></li>   
    <li class="linkylinks"><a class="nav" href="#">BLOG</a></li>
  </ul>
</div>

<div class="nav2 group">
  <ul>
    <li class="linkylinks"><a class="nav" href="<%= exercise_diary_page_url(todays_exercise_page) %>">Exercise Diary</a></li>
    <li class="linkylinks"><a class="nav" href="<%= exercise_diary_page_url(todays_exercise_page) %>">Database</a></li>
    <li class="linkylinks"><a class="nav" href="#">My Exercises</a></li>
    <li class="linkylinks"><a class="nav" href="#">Settings</a></li>   
  </ul>
</div>

<h2>Select Exercises</h2>
<div class="select_exercise">
  <form action="<%= exercise_diary_page_exercise_entries_url(@page) %>" method="post">
    <input
       name="authenticity_token"
       type="hidden"
       value="<%= form_authenticity_token %>">
    <input
       name="exercise_entries[exercise_diary_page_id]"
       type="hidden"
       value="<%= @page.id %>">
    <input
       name="exercise_entries[cardio_exercise_ids][]"
       type="hidden"
       value="">
<% @exercises.each do |exercise| %>
  <input 
    id="exercise-<%= exercise.id %>" 
    type="checkbox" 
    name="exercise_diary_page[exercise_ids][]" 
    value="<%= exercise.id %>">
  <label for="exercise-<%= exercise.id %>"><%= exercise.name %></label>
  <br>
<% end %>
<input type="submit" value="Choose Exercises">
</form>

</div>