<div id="profile-body">
  <div class="block1">
    <div id="profile-head"><h2><%= current_user.username %>'s profile</h2></div>
    <div class="img">
    </div>

    <div class="basic-info">
      <div class="basic-info-profile">
        <%= current_user.username %><br>
        <%= @social_profile.age %><br>
        <%= @social_profile.gender %><br>
        <%= @social_profile.page_title %>
      </div>
      
      <div class="basic-info-links">
        <a href="<%= edit_social_profile_url %>" class="profile-links">Edit Profile</a>
        <a href="#" class="profile-links">Edit Photos</a>
      </div>
    </div>
  </div>

  <div class="block2">
    <div class="about-me">
      <p>About Me</p>

        <%= @social_profile.about_me  == "" ? "I havent filled this out yet." : @social_profile.about_me %>
      <p>Why I Want to get in shape</p>
        <%= @social_profile.why  == "" ? "I havent filled this out yet." : @social_profile.why %>
      <p>My Inspirations</p>
      <%= @social_profile.inspir1 == "" ? "I havent filled this out yet." : @social_profile.inspir1 %>
    </div>

    <div class="my-progress">
      <a href="http://www.myfitnesspal.com/weight-loss-ticker"><img border="0" src="http://tickers.myfitnesspal.com/ticker/show/4082/4948/40824948.png" /></a><p style="text-align:center;width:420px;"><small>Created by MyFitnessPal - Free <a href="http://www.myfitnesspal.com">Calorie Counter</a></small></p>
    </div>
  </div>

</div>

<style>

div, h2 {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

div > *{
  border: 1px solid black;
}

#profile-body {
  width: 800px;
  display: block;
  margin: 20px auto;
}

#profile-head {
  width: 500px;
}

.block1, .block2 {
  width: 800px;
}

.block1 {
  background: RGB(245,245,245);
  border: 3px solid black;
  height: 200px;
  margin: 0 auto;
}

.basic-info, .img {
  margin-top: 20px;
}

.img {
  float: left;
  height: 100px;
  width: 100px;
  margin-left: 50px;
  border: 1px solid red;
}

.basic-info {
  float: right;
  border: 1px solid black;
  width: 500px;
  height: 200px;
}

.basic-info-profile {
  border: 1px solid red;
}

.basic-info-links {
  height: 100px;
  border: 1px solid green;
    margin-top: 40px;
}

.profile-links {

  border: 1px solid black;
  border-radius: 4px;
  padding: 10px;
}

.block2 {
  margin-top: 30px;
  border: 3px solid red;
  height: 400px;
}

.about-me .my-progress {
  display: block;
}

.about-me {
  float: left;
  display: block;
}
.my-progress {
  float: right;
}

</style>

