<div class="head">
    Your Daily Summary 		
</div>

<div class="wrap">
  <div class="summary group">
		<ul class="daily-links">
<li class="first">	<a href="#diary/<%= dashboard.get("todaysPageId") %>" class="add-food">
  <div class="add-food">
  Add Food
  </div>
</li>

<li>	<a href="#checkin" class="add-food">
  <div class="add-food">
  Check In
  </div>
</li>
	
</ul>
	</a>
	


  <div class="image-holder group">
		<% if (currentUser.get("profile_photo") != ("/profile_photos/original/missing.png")) { %>
		<img src="<%= currentUser.get("profile_photo") %>" alt="Smiley face" height="30" width="30">
		<% } else {%>
		<input type="file" class="my-photo-upload">
		<% } %>
	</div>
	<% if (dashboard.get("calsRemaining") < 0) { %>  
		      <div class="total"><span class="red"><%= dashboard.get("calsRemaining") %></span></div><p>CALORIES REMAINING</p>
		<% } else { %>
  <div class="total"><p><%= dashboard.get("calsRemaining") %></p></div><p>CALORIES REMAINING</p>
	<% } %>
<br>
    <div class="equation">
      <div class="value">
        <div class="num"><%= dashboard.get("netCals") %></div>
        <div class="desc">GOAL</div>
      </div>
						<div class="symbol">-</div>
      <div class="value">
        <div class="num"><%= dashboard.get("totalFoodCals") %></div>
        <div class="desc">FOOD</div>

      </div>
      <div class="symbol">=</div>
      <div class="value">
        <div class="num"><%= dashboard.get("calsRemaining") %></div>
        <div class="desc">NET</div>
      </div>
    </div>
  </div>
	
  <div class="progress">
    <p class="progress"><strong class="green"><%= dashboard.get("progress") %></strong> lbs lost</p>
	</div>

<style>



</style>


