<div class="head">
    Your Daily Summary 		
</div>

<div class="wrap group">
  <div class="summary">
  <div class="buttons">
  <a href="#diary/<%= dashboard.get("todaysPageId") %>" class="add-food">Add Food</a>
  </div>

  <div class="image-holder">
		<% if (currentUser.get("profile_photo")) { %>
		<img src="<%= currentUser.get("profile_photo") %>" alt="Smiley face" height="30" width="30">
		<% } else {%>
		<input type="file" class="my-photo-upload">
		<% } %>
	</div>
	<% if (dashboard.get("calsRemaining") < 0) { %>  
		      <div class="total"><span class="red"><%= dashboard.get("calsRemaining") %></span></div><p>CALORIES REMAINING</p>
		<% } else { %>
  <div class="total"><%= dashboard.get("calsRemaining") %></div><p>CALORIES REMAINING</p>
	<% } %>
	
    <div class="equation">
      <div class="value">
        <div class="num"><%= dashboard.get("netCals") %></div>
        <div class="desc">GOAL</div>
      </div>
      <div class="value">
        <div class="num"><%= dashboard.get("totalFoodCals") %></div>
        <div class="desc">FOOD</div>

      </div>
      <div class="symbol">-</div>
      <div class="value">
        <div class="num"><%= dashboard.get("totalExerciseCals") %></div>
        <div class="desc">EXERCISE</div>
      </div>
      <div class="symbol">=</div>
      <div class="value">
        <div class="num"><%= dashboard.get("totalCalsConsumed") %></div>
        <div class="desc">NET</div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="progress">
    <p class="progress"><strong class="green"><%= dashboard.get("progress") %></strong> lbs lost</p>
</div>



