<div class="photo">
	<% if (poster) { %>
	<img src="<%= poster.get("profile_photo") %>" alt="missing">
	<% } %>
</div>
<div class='post-info'>
  <div class="post-author"><%= post.get("poster_name") %></div>
  <div class="post-content"><%= post.escape("content") %></div>
		<% if (user.id == currentUser.id) { %>
	<div data-post_id="<%= post.id %>" class="delete-post">X</div>
	<% } %>
  <div class="links">
    <form class="like">
      <input type="submit" value="Like">
    </form> -
    <a href="#">Comment</a> -
    <time><%= humanized_time_span(post.escape("created_at")) %></time>
  </div>
  <div class="post-likes"><p>Somebody liked this.</p></div>
</div>