<% action = (user.persisted? ? user_url(user) : users_url) %>
<% method = (user.persisted? ? "put" : "post") %>
<% message = (user.persisted? ? "Update user" : "Create user") %>
<%= render "layouts/errors" %>
<form class="create-user" action="<%= action %>" method="post">
  <input
     name="_method"
     type="hidden"
     value="<%= method %>">
  <input
     name="authenticity_token"
     type="hidden"
     value="<%= form_authenticity_token %>">

  <label for="user_username">Username</label>
  <input
     id="user_username"
     name="user[username]"
     type="text">
  <br>

  <label for="user_password">Password</label>
  <input
     id="user_password"
     name="user[password]"
     type="password">
  <br>

  <input type="submit" value="<%= message %>">
</form>

<style>

form.create-user {
	text-align: center;
}

h1.create-user, h2.create-user {
	margin: 0 auto;
	text-align: center;
}

h1.create-user {
	margin-top: 100px;
}

body {
	background: lightblue;
}
</style>



