<div class="summary-box">
  <div class="head">
      Your Daily Summary
  </div>

  <div class="wrap">
    <div class="summary">
    <div class="buttons">
    <a href="<%= diary_page_url(todays_page) %>" class="add-food">Add Food</a>
    <a href="#" class="add-exercise">Add Exercise</a>
    </div>

    <div class="image-holder">
    </div>
    
    <div class="total"><%= @net_cal - @total_food_cals %></div><p>CALORIES REMAINING</p>
      <div class="equation">
        <div class="value">
          <div class="num"><%= @net_cal %></div>
          <div class="desc">GOAL</div>
        </div>
        <div class="value">
          <div class="num"><%= @total_food_cals %></div>
          <div class="desc">FOOD</div>

        </div>
        <div class="symbol">-</div>
        <div class="value">
          <div class="num">0</div>
          <div class="desc">EXERCISE</div>
        </div>
        <div class="symbol">=</div>
        <div class="value">
          <div class="num"><%= @total_food_cals %></div>
          <div class="desc">NET</div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="progress">
      <p class="progress"><strong class="green"><%= @progress %></strong> lbs lost</p>
  </div>
</div>
</div>



<style>



.group:after {
  content: "";
  display: block;
  clear: both;
}

.summary-box {
  margin: 50px auto;
  height: 200px;
  width: 600px;
  background: RGB(241,241,241);
}

div, div, ul, li, a, img {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

a {
  text-decoration: none;
}

img {
  height: 100%;
  width: 100%;
}

div {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

.image-holder  {
  height: 122px;
  width: 110px;
  float: left;
  margin: 0 15px;
  border: 2px solid black;
  background: RGB(224,224,224);
}

.nav {
  margin-top: 20px;
  background: RGB(12, 94, 177);
  height: 50px;
  color: white;
  font-weight: bold;
  font-family: sans-serif;
}

.add-food, .add-exercise {
  float: right;
  margin: 10px;
  padding: 12px 17px;
  border-radius: 4px;
  border: 1px solid black;
  font-size: 12px;
  font-family: sans-serif;
}

.total {
  color: RGB(57, 164, 54);
  font-size: 55px;
  font-family: sans-serif;
  font-weight: bold;
  border: 1px solid RGB(241, 241, 241);
  height: 70px;
}

.wrap {
  background: RGB(244, 244, 244);
  color: white;
  height: 100%;
  display: block;
}

.head {
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 20px;
  background: RGB(14, 64, 113);
  color: white;
  font-family: sans-serif;
}

.equation {
/*  border: 1px solid black;*/
  display: block;
  color: black;
  height: 30px;
  width: 450px;
  float: left;
}

.num {
  float: left;
  font-size: 20px;
}

.desc {
  font-size: 11px;
}

.value, .symbol {
  float: left;
}

.value {
/*  border: 1px solid red;*/
  padding-right: 40px;
  font-family: sans-serif;
  color: RGB(83, 83, 83);
}

.symbol{
  padding-right: 40px;
}

p {
  color: black;
  font-family: sans-serif;
  font-size: 10px;
  line-height: 0.3;
}

p.progress {
  font-size: 20px;
}

.progress {
  margin-top: ;

  float: left;
}

.link {
  float :left;
  padding: 6px;
  list-style-type: none;
}

.green {
  color: green;
}

</style>