<table class="nutrition-goals">
  <tr>
    <td>Nutrition Goals</td>
    <td>Goals</td>
  </tr>
  
  <tr>
    
    <td><strong>Net Calories Consumed*/Day</strong></td>
    <td class="red"><%= @BMR %> Calories/Day</td>
  </tr>
 
  <tr>
    <td>Carbs/Day</td>
    <td><%= @carbs %> g</td>
  </tr>
  
  <tr>
    <td>Fat/Day</td>
    <td><%= @fats %> g</td>
  </tr>
  
  <tr>
    <td>Protein/Day</td>
    <td><%= @protein %> g</td>
  </tr>
</table>

<br>

<table class="fitness-goals">
  <tr>
    <td>Fitness Goals</td>
    <td>Goals</td>
  </tr>
  
  <tr>
    <td><strong>Calories Burned/Week</strong></td>
    <td class="red">  Calories / Week</td>
  </tr>
 
  <tr>
    <td>Workouts/Week</td>
    <td><%= @profile.workouts_per_week  %> workouts</td>
  </tr>
  
  <tr>
    <td>Minutes/Workout</td>
    <td><%= @profile.mins_per_workout  %> minutes</td>
  </tr>
  
</table>

<table class="diet-profile">
  <tr>
    <td>Fitness Goals</td>
    <td>Target</td>
  </tr>
  
  <tr>
    <td><strong>Calories Burned</strong></td>
  </tr>
 
  <tr>
    <td>From Normal Daily Activity</td>
    <td><%= @BMR  %> cal/day</td>
  </tr>
  
  <tr>
    <td><strong>Net Calories Consumed*</strong></td>
  </tr>
  
  <tr>
    <td>Your Daily Goal</td>
    <td>TBD</td>
  </tr>
  
  <tr>
    <td>Daily Calorie Defecit</td>
    <td>TBD</td>
  </tr>
  
  <tr>
    <td>Projected Weight Loss</td>
    <td>TBD</td>
  </tr>
  
</table>

<a href="<%= edit_diet_profile_url %>">Change Goals</a>
