<td class="macro first_col"><%= food.get("name") %></td>
<td class="macro"><%= food.get("calories") %></td>
<td class="macro"><%= food.get("carbs") %></td>
<td class="macro"><%= food.get("total_fat") %></td>
<td class="macro"><%= food.get("protein") %></td>
<td class="macro"><%= food.get("sodium") %></td>
<td class="macro"><%= food.get("sugar") %></td>
<td class="delete">-</td>