<div class="diary-head">
  <a href="#">Yesterday</a>
  <p>Your Food Diary For <%= page.escape("entryDate") %></p>
  <a href="#">Tomorrow</a>
</div>
<div class="table">
<table>
    <tr class="heading">
      <th class="meal first_col">Breakfast</th>
      <th class="macro">Calories</th>
      <th class="macro">Carbs</th>
      <th class="macro">Fat</th>
      <th class="macro">Protein</th>
      <th class="macro">Sodium</th>
      <th class="macro">Sugar</th>
      <th class="delete"></th>
    </tr>

	<tbody id="breakfasts"></tbody>
	
  <tbody>
    <tr>
      <td class="links">
        <a href="#">Add Food</a>
      </td>
      <td class="macro"><%= page.get("totalBreakfastCals") %></td>
      <td class="macro"><%= page.get("totalBreakfastCarbs") %></td>
      <td class="macro"><%= page.get("totalBreakfastFat") %></td>
      <td class="macro"><%= page.get("totalBreakfastProtein") %></td>
      <td class="macro"><%= page.get("totalBreakfastSodium") %></td>
      <td class="macro"><%= page.get("totalBreakfastSugar") %></td>
      <td class="delete"></td>
    </tr>

    <tr class="heading">
      <td class="meal first_col">Lunch</td>
      <td class="macro"></td>
      <td class="macro"></td>
      <td class="macro"></td>
      <td class="macro"></td>
      <td class="macro"></td>
      <td class="macro"></td>
      <td class="delete"></td>
    </tr>

     <tbody id="lunches"></tbody>
			
			
    <tr>
      <td class="links">
        <a href="#">Add Food</a>
      </td>
      <td class="macro"><%= page.get("totalLunchCals") %></td>
      <td class="macro"><%= page.get("totalLunchCarbs") %></td>
      <td class="macro"><%= page.get("totalLunchFat") %></td>
      <td class="macro"><%= page.get("totalLunchProtein") %></td>
      <td class="macro"><%= page.get("totalLunchSodium") %></td>
      <td class="macro"><%= page.get("totalLunchSugar") %></td>
      <td class="delete"></td>
    </tr>



    <tr class="heading">
      <td class="meal first_col">Dinner</td>
      <td class="macro"></td>
      <td class="macro"></td>
      <td class="macro"></td>
      <td class="macro"></td>
      <td class="macro"></td>
      <td class="macro"></td>
      <td class="delete"></td>
    </tr>
		
		<tbody id="dinners"></tbody>

    <tr>
      <td class="links">
        <a href="#">Add Food</a>
      </td>
      <td class="macro"><%= page.get("totalDinnerCals") %></td>
      <td class="macro"><%= page.get("totalDinnerCarbs") %></td>
      <td class="macro"><%= page.get("totalDinnerFat") %></td>
      <td class="macro"><%= page.get("totalDinnerProtein") %></td>
      <td class="macro"><%= page.get("totalDinnerSodium") %></td>
      <td class="macro"><%= page.get("totalDinnerSugar") %></td>
      <td class="delete"></td>
    </tr>

    <tr class="heading">
      <td class="meal first_col">Snack</td>
      <td class="macro"></td>
      <td class="macro"></td>
      <td class="macro"></td>
      <td class="macro"></td>
      <td class="macro"></td>
      <td class="macro"></td>
      <td class="delete"></td>
    </tr>

		<tbody id="snacks"></tbody>	
			
    <tr>
      <td class="links">
        <a href="#">
          Add Food</a>
      </td>
      <td class="macro"><%= page.get("totalSnackCals") %></td>
      <td class="macro"><%= page.get("totalSnackCarbs") %></td>
      <td class="macro"><%= page.get("totalSnackFat") %></td>
      <td class="macro"><%= page.get("totalSnackProtein") %></td>
      <td class="macro"><%= page.get("totalSnackSodium") %></td>
      <td class="macro"><%= page.get("totalSnackSugar") %></td>
      <td class="delete"></td>
    </tr>


  </tbody>
</table>
</div>

<div class="totals">

  <table class="total-tabulations">
    <tr class="heading">
      <th class="total-label">Totals</th>
      <th class="total-col"><%= page.get("totalCals") %></th>
      <th class="total-col"><%= page.get("totalCarbs") %></th>
      <th class="total-col"><%= page.get("totalFat") %></th>
      <th class="total-col"><%= page.get("totalProtein") %></th>
      <th class="total-col"><%= page.get("totalSodium") %></th>
      <th class="total-col"><%= page.get("totalSugar") %></th>
    </tr>

    <tr class="heading">
      <td class="total-label">Your Daily Goal</td>
      <th class="total-col"><%= page.get("targetCals") %></th>
      <th class="total-col"><%= page.get("targetCarbs") %></th>
      <th class="total-col"><%= page.get("targetFat") %></th>
      <th class="total-col"><%= page.get("targetProtein") %></th>
      <th class="total-col"><%= page.get("targetSodium") %></th>
      <th class="total-col"><%= page.get("targetSugar") %></th>
    </tr>

    <tr class="heading">
      <td class="total-label">Remaining</td>
			<% if (page.get("targetCals") - page.get("totalCals") < 0) { %>  
				      <td class="remaining"><span class="red"><%= page.get("targetCals") - page.get("totalCals") %></span></td>
				<% } else { %>
      <td class="remaining"><%= page.get("targetCals") - page.get("totalCals") %></td>
			<% } %>
			
			<% if (page.get("targetCarbs") - page.get("totalCarbs") < 0) { %>  
				      <td class="remaining"><span class="red"><%= page.get("targetCarbs") - page.get("totalCarbs") %></span></td>
				<% } else { %>
      <td class="remaining"><%= page.get("targetCarbs") - page.get("totalCarbs") %></td>
			<% } %>
			
			<% if (page.get("targetFat") - page.get("totalFat") < 0) { %>  
				      <td class="remaining"><span class="red"><%= page.get("targetFat") - page.get("totalFat") %></span></td>
				<% } else { %>
      <td class="remaining"><%= page.get("targetFat") - page.get("totalFat") %></td>
			<% } %>
			
			
			<% if (page.get("targetProtein") - page.get("totalProtein") < 0) { %>  
				      <td class="remaining"><span class="red"><%= page.get("targetProtein") - page.get("totalProtein") %></span></td>
				<% } else { %>
      <td class="remaining"><%= page.get("targetProtein") - page.get("totalProtein") %></td>
			<% } %>

			<% if (page.get("targetSodium") - page.get("totalSodium") < 0) { %>  
				      <td class="remaining"><span class="red"><%= page.get("targetSodium") - page.get("totalSodium") %></span></td>
				<% } else { %>
      <td class="remaining"><%= page.get("targetSodium") - page.get("totalSodium") %></td>
			<% } %>
			
			<% if (page.get("targetSugar") - page.get("totalSugar") < 0) { %>  
				      <td class="remaining"><span class="red"><%= page.get("targetSugar") - page.get("totalSugar") %></span></td>
				<% } else { %>
	    <td class="remaining"><%= page.get("targetSugar") - page.get("totalSugar") %></td>
			<% } %>
    </tr>


    <tr class="heading">
      <td class="total-label"></td>
      <td class="total-type">Calories</td>
      <td class="total-type">Carbs</td>
      <td class="total-type">Fat</td>
      <td class="total-type">Protein</td>
      <td class="total-type">Sodium</td>
      <td class="total-type">Sugar</td>
    </tr>
  </table>

</div>

<style>

body, table, thead, tfoot, tbody, tr, td, th {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}



.diary-head {
  margin-top:30px;
  text-align: center;
  color: RGB(15,68,111);
  font-size: 20px;
  border-bottom: 3px solid RGB(224,224,224);
}

.table, .totals {
 /* border: 1px solid black;*/
  width: 690px;
  margin: 20px auto;
}

.totals {
/*  border: 1px solid black;*/
  height: 90px;
}

th.macro {
  background: RGB(14, 64, 113);
  color: white;
  padding: 15px 10px;
  font-family: sans-serif;
}



.meal {
  text-align: left;
  color: RGB(14, 64, 113);
  font-size: 20px;
  font-family: sans-serif;
  width: 300px;
  font-weight: bold;
}

th, td {
/*  border: 1px solid black;*/
  border-bottom: 1px solid RGB(224,224,224);
  text-align: center;
  font-family: Arial;
  font-size: 12.4px;
  padding: 4px 10px 4px 10px;
  width: 46px;

}

.first_col {
  text-align: left;
}

.links {
  padding-right: 140px;

}

.data-entry, .total-col, .remaining {
  background: RGB(244, 244, 244);
}

.totals {
  font-weight: bold;
}

.total-type {
  background: RGB(14, 64, 113);
  color: white;
  font-size: 12px;
  padding: 15px 10px;
  font-family: sans-serif;
}

.total-tabulations {
  float: right;
  margin-right: 30px;
}

.total-label {
  text-align: right;
  border: 0;
  width: 200px;
}

.total-label, .total-col, .remaining {
  font-size: 15px;

}

.remaining {
  color: green;
}

input[type=submit] {
  -webkit-appearance: none;
  border-radius: 20px;
  border: none;
  text-decoration: none;
  background: red;
  color: white;
  padding: none;
  margin: none;
  width: auto;
  height: auto;
  font-size: 10px;
  font-weight: bold;
}

input[type=submit]:hover {
  cursor: pointer;
}

table {
  border-spacing: 1px 0;
}

</style>
