<div class="nav group">
  <ul>
    <li class="linkylinks"><a class="nav" href="<%= dashboard_url %>">MY HOME</a></li>
    <li class="linkylinks selected"><a class="nav" href="<%= diary_page_url(todays_page) %>">FOOD</a></li>
    <li class="linkylinks"><a class="nav" href="<%= exercise_diary_page_url(todays_exercise_page) %>">EXERCISE</a></li>
    <li class="linkylinks"><a class="nav" href="<%= reports_url %>">REPORTS</a></li>
    <li class="linkylinks"><a class="nav" href="#">COMMUNITY</a></li>   
    <li class="linkylinks"><a class="nav" href="#">BLOG</a></li>
  </ul>
</div>

<div class="nav2 group">
  <ul>
    <li class="linkylinks"><a class="nav" href="<%= diary_page_url(todays_page) %>">Food Diary</a></li>
    <li class="linkylinks"><a class="nav" href="<%= new_diary_page_food_entry_url(@page) %>">Database</a></li>
    <li class="linkylinks"><a class="nav" href="#">My Foods</a></li>
    <li class="linkylinks"><a class="nav" href="#">My Meals</a></li>
    <li class="linkylinks"><a class="nav" href="#">Settings</a></li>   
  </ul>
</div>

<div data-meal="<%= @get_meal %>" data-page_id="<%= @page.id %>" class="content">
  <div class="form group">
    <h3>Search our food database by name:</h3>
      <form class="group" action="<%= new_diary_page_food_entry_url(@page, @meal) %>" method="get">
      <input type="text" name="query" value="<%= params[:query] %>">
      </form>
  </div>

  <div class="bottom">
    <div class="results">
      <ul>
        <% if @results.length > 0 %>
        <%  @results.each do |result| %>
          <li class="list" data-food_id="<%= result.id %>"><%= result.name %></li>
        <% end %>
        <% else %>
          <li class="none">No items match your search, try again.</li>
        <% end %>
      </ul>
    </div>

    <div class="nutrition-label">
    </div>
    
  </div>
</div>

<script>

$( document ).ready(function() {
  $( ".list" ).click(function(event) {
    event.preventDefault();
    console.log(event.currentTarget);
    var food_id = $(event.currentTarget).data("food_id")
    var meal = $(".content").data("meal")
    var food = App.Collections.foods.getOrFetch(food_id);
    
    var showView = new App.Views.FoodsShow({
      model: food
    })
    
    $(".nutrition-label").html(showView.render().$el)
    
    $("body").on("click", "button", (function(event) {
      var id = $(this).data("food_id")
      var meal = $(".content").data("meal")
      var page_id = $(".content").data("page_id")
      $.ajax({
        type: 'post',
        data: {
          food_id: id,
          meal: meal
        },
        url: "createtemp",
        dataType: 'json',
        success: function() {
          alert(window.location);
        },
        error: function(resp) {
          window.location.href = "/diary_pages/" + page_id;
        }
      });
    }))
  })
})

</script>

<style>


h1, div, h3, ul, li, span, header, footer {
  border: 0;
  padding: 0;
  margin: 0;
  font: inherit;
  vertical-align: baseline;
}

h3 {
  border-bottom: 2px solid RGB(220,220,220);
  margin-bottom: 30px;
  font-family: sans-serif;
  color: RGB(29,44,96);
  font-size: 20px;
  font-weight: bold;
}

li {
  list-style: none;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

h1 {
  color: pink;
  font-size: 50px;
}

.content {

  height: 400px;
  width: 900px;
  margin: 35px auto;
}

.form {
}

.bottom {
  margin-top: 10px;
  height: 330px;
}

.results {
  float: left;
  border: 1px solid black;
  width: 400px;
  height: 100%;
  overflow: scroll;
}

li.list {
  border-bottom: RGB solid RGB(244, 244, 244);
  color: RGB(11, 94, 177);
  padding: 10px 10px;
}

li.list:hover {
  color: orange;
  background: RGB(241, 241, 241);
}

.nutrition-label {
  float: right;
  border: 1px solid black;
  height: 100%;
  width: 400px;
}


.all-content {
  border: 1px solid black;
}

.search-results {
  float:left;
  border: 1px solid black;
}

.show-food {
  float: right;
  border: 1px solid green;
}

</style>