<h2>sup</h2>

<h2>Select Foods</h2>
<div class="select_food">
<% @foods.each do |food| %>
  <form action="<%= diary_page_food_entries_url(@page) %>" method="post">
    <input
       name="authenticity_token"
       type="hidden"
       value="<%= form_authenticity_token %>">
    <input
       name="food_entry[diary_page_id]"
       type="hidden"
       value="<%= @page.id %>">
  <input type="checkbox" name="food_entry[food_id]" value="<%= food.id %>"><%= food.name %><br>

<% end %>
<input type="submit" value="Choose Foods">
</form>

</div>