<div class="whole-container">
  <div class="left-entries">
    <div class="title">Edit Previous Measurement Entries</div>
    <div class="left-form">
      <form action="<%= measurement_url(@measurement) %>" method="post">
        <input
           name="_method"
           type="hidden"
           value="put">
        <input
           name="authenticity_token"
           type="hidden"
           value="<%= form_authenticity_token %>">
        <label for="measurement_edit">Measurement to edit:</label>
        <select id="measurement_edit" name="measurement[id]">
            <% @measurements.each do |measurement| %>
              <option value="<%= measurement.id %>"><%= measurement.name %></option>
            <% end %>
        </select>
        
        <input type="submit" value="Change">
      </form>
      
    </div>
    <%= render "layouts/errors" %>
    <div class="left-content">
      <table>
        <thead>
          <tr>
            <th class="first-col">Measurement</th>
            <th>Date</th>
            <th>Amount</th>
            <th>Delete?</th>
          </tr>
        </thead>
        <tbody>
        <% if @measurement.logs.count == 0 %>
        <tr>
          <td colspan="4">No measurements found.</td>
        </tr>
        <% else %>
          <% @measurement.logs.each do |log| %>
              <tr>
                <td class="first-col"><%= log.measurement.name %></td>
                <td><%= log.created_at.strftime("%m/%d/%Y") %></td>
                <td><%= log.amount %> lbs</td>
                <td>
                  <%= button_to "Delete?", log_url(log), :method => :delete %>
                </td>
              </tr>
          <% end %>
        <% end %>
      </tbody>
      </table>
    </div>
    <div class="add-entry">
      <div class="add-entry-header">
        <h3>Add New Entry</h3> 
      </div>
      <div class="add-form">
        <form action="<%= logs_url %>" method="post">
          <input
             name="authenticity_token"
             type="hidden"
             value="<%= form_authenticity_token %>">
          <input
             name="log[measurement_id]"
             type="hidden"
             value="<%= @measurement.id %>">
          <label for="log-date">Date:</label>
          <input type="date" name="log[created_at]" value="<%= Date.today %>">
          <label for="log-amount">Amount:</label>
          <input type="text" name="log[amount]">
      
          <input type="submit" value="Add New Entry">
        </form>
      </div>
    </div>
  </div>
  
  <div class="right-info">
    <div class="weigh-yourself">
      <div class="head"><h3>Weigh Yourself</h3></div>
      <div class="body"><p>To help track your progress, you should record your weight periodically. We suggest once a week because your weight fluctuates daily due to uncontrollable factors like water. Try to always weigh yourself at the same time of day - we suggest early in the morning before breakfast.</p></div>
    </div>
    <div class="take-measurements">
      <div class="head"><h3>Take Your Measurements</h3></div>
      <div class="body"><p>Taking your measurements can be an even better gauge of your progress because when you burn fat and build heavier muscle, your weight may not change or even increase even though your body is tighter and smaller. We suggest taking your measurements every 2-4 weeks.</p></div>
    </div>
  </div>
</div>

<style>



</style>