<div class="nav group">
  <ul>
    <li class="linkylinks selected"><a class="nav" href="<%= dashboard_url %>">MY HOME</a></li>
    <li class="linkylinks"><a class="nav" href="<%= diary_page_url(todays_page) %>">FOOD</a></li>
    <li class="linkylinks"><a class="nav" href="<%= exercise_diary_page_url(todays_exercise_page) %>">EXERCISE</a></li>
    <li class="linkylinks"><a class="nav" href="<%= reports_url %>">REPORTS</a></li>
    <li class="linkylinks"><a class="nav" href="#">COMMUNITY</a></li>   
    <li class="linkylinks"><a class="nav" href="#">BLOG</a></li>
  </ul>
</div>

<div class="nav2 group">
  <ul>
    <li class="linkylinks"><a class="nav" href="<%= dashboard_url %>">Home</a></li>
    <li class="linkylinks"><a class="nav" href="<%= goals_diet_profile_url %>">Goals</a></li>
    <li class="linkylinks"><a class="nav" href="<%= measurements_url %>">Check-in</a></li>
    <li class="linkylinks"><a class="nav" href="<%= social_profile_url %>">Profile</a></li>
    <li class="linkylinks"><a class="nav" href="#">MyBlog</a></li>   
  </ul>
</div>

<div class="whole-container">
  <div class="left-entries">
    <div class="title">Edit Previous Measurement Entries</div>
    <div class="left-form">
      <form action="<%= measurement_url(@measurement) %>" method="post">
        <input
           name="_method"
           type="hidden"
           value="put">
        <input
           name="authenticity_token"
           type="hidden"
           value="<%= form_authenticity_token %>">
        <label for="measurement_edit">Measurement to edit:</label>
        <select id="measurement_edit" name="measurement[id]">
            <% @measurements.each do |measurement| %>
              <option value="<%= measurement.id %>"><%= measurement.name %></option>
            <% end %>
        </select>
        
        <input type="submit" value="Change">
      </form>
      
    </div>
    <%= render "layouts/errors" %>
    <div class="left-content">
      <table>
        <thead>
          <tr>
            <th class="first-col">Measurement</th>
            <th>Date</th>
            <th>Amount</th>
            <th>Delete?</th>
          </tr>
        </thead>
        <tbody>
        <% if @measurement.logs.count == 0 %>
        <tr>
          <td colspan="4">No measurements found.</td>
        </tr>
        <% else %>
          <% @measurement.logs.each do |log| %>
              <tr>
                <td class="first-col"><%= log.measurement.name %></td>
                <td><%= log.created_at.strftime("%m/%d/%Y") %></td>
                <td><%= log.amount %> <%= log.measurement.unit %></td>
                <td>
                  <%= button_to "Delete?", log_url(log), :method => :delete %>
                </td>
              </tr>
          <% end %>
        <% end %>
      </tbody>
      </table>
    </div>
    <div class="add-entry">
      <div class="add-entry-header">
        <h3>Add New Entry</h3> 
      </div>
      <div class="add-form">
        <form action="<%= logs_url %>" method="post">
          <input
             name="authenticity_token"
             type="hidden"
             value="<%= form_authenticity_token %>">
          <input
             name="log[measurement_id]"
             type="hidden"
             value="<%= @measurement.id %>">
          <label for="log-date">Date:</label>
          <input type="date" name="log[created_at]" value="<%= Date.today %>">
          <label for="log-amount">Amount:</label>
          <input type="text" name="log[amount]">
      
          <input type="submit" value="Add New Entry">
        </form>
      </div>
    </div>
  </div>
  
  <div class="right-info">
    <div class="weigh-yourself">
      <div class="head"><h3>Weigh Yourself</h3></div>
      <div class="body"><p>To help track your progress, you should record your weight periodically. We suggest once a week because your weight fluctuates daily due to uncontrollable factors like water. Try to always weigh yourself at the same time of day - we suggest early in the morning before breakfast.</p></div>
    </div>
    <div class="take-measurements">
      <div class="head"><h3>Take Your Measurements</h3></div>
      <div class="body"><p>Taking your measurements can be an even better gauge of your progress because when you burn fat and build heavier muscle, your weight may not change or even increase even though your body is tighter and smaller. We suggest taking your measurements every 2-4 weeks.</p></div>
    </div>
  </div>
</div>

<style>


div, p, h3 {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

label > p {
  font-weight: bold;
  font-family: sans-serif;
  font-size: 14px;
}

.title {
  border-bottom: 2px solid RGB(224, 224, 224);
  font-family: Arial;
  color: RGB(14, 64, 113);
  font-size: 20px;
  font-weight: bold;
}

label {
  font-weight: bold;
  font-size: 14px;
  font-family: Arial;
}

.whole-container {
  width: 1020px;
  height: 1000px;
  margin: 30px auto;
}

.left-entries {
  width: 700px;
/*  border: 1px solid red;*/
  height: 1000px;
  float: left;
}

.left-content {
  margin-top:20px;
}

.left-form {
  margin-top: 20px;
  height: 40px;
  width: 370px;
}

.right-info {
  float: right;
  width: 300px;
/*  border: 1px solid green;*/
  height: 800px;
  margin-top: 23px;
}

.weigh-yourself, .take-measurements {
  width: 100%;
}

table {
  border-spacing: 1px 1px;
  width: 600px;
}

td {
  text-align: center;
  background: RGB(244, 244, 244);
  border-bottom: 1px solid RGB(224, 224, 224);
  font-size: 14px;
}

.first-col, th.first-col {
  text-align: left;
}

thead {
  background: RGB(10, 63, 115);
  color: white;
  font-weight: bold;
  font-family: Arial;
  font-size: 14px;
}

th{
  padding: 10px 20px 10px 20px;
}

.add-entry-header {
  padding: 10px 5px;
  border-bottom: 1px solid RGB(224, 224, 224);
  color: RGB(14, 64, 114);
}

.add-form {
  margin-top: 20px;
/*  border: 1px solid red;*/
  width: 550px;
}

h3 {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
}

input[type=submit] {
  -webkit-appearance: none;
  padding: 0;
  border: 0;
  margin: 0;
  color: blue;
  background: none;
  font-size: 12px;
  cursor: pointer;
}

select {
  width: 120px;
  margin-top: 8px;
}

input[value="Change"], input[value="Add New Entry"] {
  -webkit-appearance: none;
  padding: 5px;
  border: 1px solid black;
  margin: 0;
  background: RGB(80, 171, 66);
  color: white;
  padding: 8px 25px;
  border-radius: 5px;
  float: right;
}

.right-info {
  width: 300px;
  float: right;
}

.weigh-yourself, .take-measurements {
  background: RGB(244, 244, 244);
}

.take-measurements {
  margin-top: 30px;
}

.head {
  font-size: 15px;
  border-bottom: 1px solid RGB(224, 224, 224);
  color: RGB(13,64,106);
  padding: 15px;
}

.body {
  font-size: 12px;
  font-family: sans-serif;
  padding: 15px;
}


</style>