<div class="check-in"><h2>Check-In</h2></div>

<div class="content">
  <div class="weight-update-and-table">
    <div class="weight-update">
      <h3>Enter today's weight: </h3>
      <form action="<%= logs_url %>" method="post">
        <input
           name="authenticity_token"
           type="hidden"
           value="<%= form_authenticity_token %>">

         <input
            name="log[measurement_id]"
            type="hidden"
            value="<%= @weight_measurement.id %>">
        <input type="text" name="log[amount]">lbs
      </form>
      <% if @most_recent_weight %>
      <i>Last recorded weight: <%= @most_recent_weight.amount %> lbs on <%= @most_recent_weight.created_at.strftime("%d %b. %Y") %></i>
      <% end %>
    </div>


    <div class="other-measures">
      <table>
        <thead>
          <tr>
            <th>Other Measurements</th>
            <th>Last Entry</th>
            <th>Today's Entry</th>
          </tr>
        </thead>

        <tbody>
          <% @additional_measurements.each do |measurement| %>
            <tr>
              <td><%= measurement.name %></td>
              <td><%= measurement.logs.last.nil? ? 
                    "None." : "#{measurement.logs.last.amount} on #{measurement.created_at.strftime('%m/%d/%Y')}" %></td>
              <td>
                <form action="<%= logs_url %>" method="post">
                  <input
                     name="authenticity_token"
                     type="hidden"
                     value="<%= form_authenticity_token %>">

                   <input
                      name="log[measurement_id]"
                      type="hidden"
                      value="<%= measurement.id %>">
                  <input type="text" name="log[amount]">
                </form>
              </td>
            </tr>
          <% end %>

            <tr>
              <td colspan="3"><a href="<%= new_measurement_url %>">Track Additional Measurements</a> | <a href="<%= edit_measurement_url(@weight_measurement) %>">Edit Previous Entries</a></td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="info">
    <div class="info-header">
      <p>Check-in</p>
    </div>
    <div class="body-text">
      <p>To help track your progress, you should record your weight periodically. We suggest once a week because your weight fluctuates daily due to uncontrollable factors like water. Try to always weigh yourself at the same time of day - we suggest early in the morning before breakfast.</p>
<br>
      <p>Taking your measurements can be an even better gauge of your progress because when you burn fat and build heavier muscle, your weight may not change or even increase even though your body is tighter and smaller. We suggest taking your measurements every 2-4 weeks.</p>
    </div>
  </div>
</div>


</div>
<style>

</style>