<div class="h3"><h2>Track Additional Measurements</h2></div>

<%= render "layouts/errors" %>
<div class="parent">
  <div class="add-measurements">
    <table>
      <tr>
        <th colspan="2">Current Measurements</th>
      </tr>

      <% @additional_measurements.each do |measurement| %>
        <tr>
          <td><%= measurement.name %></td>
          <td><%= button_to "remove", measurement_url(measurement), :method => :delete %></td>
        </tr>
      <% end %>


    </table>

    <div class="add-another-measurement">
      <div class="header-add-another">
        <p class="add-another">Add Another Measurement</p>
      </div>
      <div class="body-add-another">
        <form action="<%= measurements_url %>" method="post">
          <input
             name="authenticity_token"
             type="hidden"
             value="<%= form_authenticity_token %>">
          <label>Description:</label>
            <input type="text" name="measurement[name]" placeholder="(i.e. '%Body Fat')">
      </div>
        <input type="submit" value="Add Measurement">
        <a href="<%= measurements_url %>">Cancel</a>
        </form>
    </div>
  </div>

  <div class="measurements-info">
    <div class="measurements-info-head">
      <p>Change Measurements</p>
    </div>
    <div class="measurements-info-body">
      <p>MyFitnessPal.com allows you to customize what measurements you track to fit your own personal program and goals.</p>
      <br>
      <p>Simply use the form on the right to add or remove any measurement. The changes you enter will be used to track your progress from now on.</p>
    </div>
  </div>
</div>
<style>

</style>

