<h3><%= food.get("name") %></h1>

<div class="wrapper">
  <header class="group">
    <span class="serving-size">Servings: <%= food.get("serving_size_qty") %> <%= food.get("serving_size") || "N/A" %>
    <span class="servings-per">Servings per Container:
              <%= food.get("servings_per_container") || "N/A" %></span>
  </header>
  <div class="all-nutrients group">
    <div class="left-nutrients">
      <span class="labels">
        <ul>
          <li><bold>Calories</bold></li>
          <li><bold>Total Fat</bold></li>
          <li>Saturated</li>
          <li>Polyunsaturated</li>
          <li>Monounsaturated</li>
          <li>Trans</li>
          <li><bold>Cholesterol</bold></li>
        </ul>
      </span>
      <span class="quantities">
        <ul>
          <li><%= food.get("calories") || 0 %></li>
          <li><%= food.get("total_fat") || 0 %> g</li>
          <li><%= food.get("saturated") || 0 %> g</li>
          <li><%= food.get("polyunsaturated") || 0 %> g</li>
          <li><%= food.get("monounsaturated") || 0 %> g</li>
          <li><%= food.get("trans") || 0 %> g</li>
          <li><%= food.get("cholesterol") || 0 %> mg</li>
        </ul>
      </span>
    </div>
    <div class="right-nutrients">
      <span class="labels">
        <ul>
          <li><bold>Sodium</bold></li>
          <li><bold>Potassium</bold></li>
          <li><bold>Total Carbs</bold></li>
          <li><bold>Dietary Fiber</bold></li>
          <li><bold>Sugars</bold></li>
          <li><bold>Protein</bold></li>
        </ul>
      </span>
      <span class="quantities">
        <ul>
          <li><%= food.get("sodium") || 0 %> mg</li>
          <li><%= food.get("potassium") || 0 %> mg</li>
          <li><%= food.get("carbs") || 0 %> g</li>
          <li><%= food.get("fiber") || 0 %> g</li>
          <li><%= food.get("sugar") || 0 %> g</li>
          <li><%= food.get("protein") || 0 %> g</li>
        </ul>
      </span>
    </div>
  </div>
  <div class="all-vitamins group">
    <div class="left-vitamins">
      <span class="labels">
        <ul>
          <li><bold>Vitamin A</bold></li>
          <li><bold>Vitamin C</bold></li>
        </ul>
      </span>
      <span class="quantities">
        <ul>
          <li><%= food.get("vitamin_a") || 0 %> %</li>
          <li><%= food.get("vitamin_c") || 0 %> %</li>
        </ul>
      </span>
    </div>
    <div class="right-vitamins">
      <span class="labels">
        <ul>
          <li><bold>Calcium</bold></li>
          <li><bold>Iron</bold></li>
        </ul>
      </span>
      <span class="quantities">
        <ul>
          <li><%= food.get("calcium") || 0 %></li>
          <li><%= food.get("iron") || 0 %></li>
        </ul>
      </span>
    </div>
  </div>
  <footer>
    <p>*Percent Daily Values are based on a 2000 calorie diet. Your daily values may be higher or lower depending on your calorie needs.</p>
  </footer>
</div>

<button data-food_id="<%= food.id %>">Add To Diary</button>

</script>


<style>

bold {
  font-weight: bold;
}

li {
  list-style: none;
}

.wrapper {
  width: 100%;
  font-family: sans-serif;
  font-size: 12px;
}

header, div.all-nutrients, div.all-vitamins, footer{
  border-bottom: 3px solid black;
}

.all-nutrients {
  border-top: 1px solid black;
}

.all-vitamins {
}

.labels, .left-nutrients, .left-vitamins {
  float: left;
}

.quantities, .right-nutrients, .right-vitamins {
  float: right;
}

button {
  background: green;
  color: white;
  border: 1px solid black;
  cursor: pointer;
}

</style>