
	<% if signed_in? %>
	<div id="header" class="group">
	<div class="logo group">
		<a href="<%= dashboard_url %>"><img src="<%= asset_path 'YourFitnessPal-logo.png' %>" alt="Logo"></a>
	</div>
	
	<div id="signout"><%= button_to "Sign Out", session_url, :method => :delete %></div>
	<div class="user-profile">Hi, <a href="<%= social_profile_url %>"> <%= current_user.username %></a></div>

	</div>
	<% end %>

<style>

.group:after {
	clear: both;
	content: "";
	display: block;
}

div#signout > form input[type="submit"] {
	-webkit-appearance:none;
	color: red;
	background: none;
	cursor: pointer;
	border: none;
}

div.user-profile {
	float: right;
	margin-top: 15px;
	margin-right: 20px;
}

div#signout {
	float: right;
	margin-top: 12px;
	margin-right: 60px;
}

.logo {
	float: left;
	width: 200px;
	height: 60px;
	margin-left: 100px;
}

.logo img {
	height: 100%;
	width: 100%;
}

</style>