<!DOCTYPE html>
<html>
  <head>
    <title>YourFitnessPal</title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway">
  </head>
  <body>
    <%= render "layouts/header" %>
		<div class="specific-headers"></div>
		<div class="main">
    <%= yield %>
		</div>
  </body>
</html>


<style>


.group:after {
  content: "";
  display: block;
  clear: both;
}

li {

}

body, div.nav, div, ul, li, a, img {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

a.nav {
  text-decoration: none;
  background: transparent;
  font-size: 14px;
  font-weight: bold;
  color: white;
}

a.nav:visited { text-decoration: none; color:white; }

img {
  height: 100%;
  width: 100%;
}


div.nav {
  background: RGB(25, 116, 190);
  color: white;
  font-family: sans-serif;
  padding-left: 200px;
}

div.nav2 {
  color: white;
  font-family: sans-serif;
  padding-left: 200px;
  background: RGB(27, 62, 113);
}

li.selected {
  background: RGB(27, 62, 113);
}


li.linkylinks {
  float :left;
  padding: 6px;
  list-style-type: none;
  color: white;
  padding: 13px 26px;
}

li.linkylinks:visited {
  color: white;
}

li.linkylinks:hover {
    background: RGB(27, 62, 113);
}




</style>