<!DOCTYPE html>
<html>
  <head>
    <title>MyApp</title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% if signed_in? %>
    <ul>
      <li>Signed in as: <%= current_user.username %></li>
      <li><%= button_to "Sign Out", session_url, :method => :delete %></li>
      <li><a class="nav" href="<%= dashboard_url %>">Home</a></li>
    </ul>
    <% else %>
    <p>
      <%= link_to "Sign In", new_session_url %> or
      <%= link_to "Sign up", new_user_url %>
    </p>
  <% end %>

      <% if signed_in? %>

      <% end %>


    <%= yield %>

  </body>
</html>

<style>


.group:after {
  content: "";
  display: block;
  clear: both;
}

li {

}

body, div.nav, div, ul, li, a, img {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

a.nav {
  text-decoration: none;
  background: transparent;
  font-size: 14px;
  font-weight: bold;
  color: white;
}

a.nav:visited { text-decoration: none; color:white; }

img {
  height: 100%;
  width: 100%;
}


div.nav {
  background: RGB(25, 116, 190);
  color: white;
  font-family: sans-serif;
  padding-left: 200px;
}

div.nav2 {
  color: white;
  font-family: sans-serif;
  padding-left: 200px;
  background: RGB(27, 62, 113);
}

li.selected {
  background: RGB(27, 62, 113);
}


li.linkylinks {
  float :left;
  padding: 6px;
  list-style-type: none;
  color: white;
  padding: 13px 26px;
}

li.linkylinks:visited {
  color: white;
}

li.linkylinks:hover {
    background: RGB(27, 62, 113);
}




</style>