<!DOCTYPE html>
<html>
  <head>
    <title>MyApp</title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% if signed_in? %>
    <ul>
      <li>Signed in as: <%= current_user.username %></li>
      <li><%= button_to "Sign Out", session_url, :method => :delete %></li>
      <li><a href="<%= dashboard_url %>">Home</a></li>
    </ul>
    <% else %>
    <p>
      <%= link_to "Sign In", new_session_url %> or
      <%= link_to "Sign up", new_user_url %>
    </p>
  <% end %>

      <% if signed_in? %>
    <div class="nav">MY HOME
      <ul>
        <li class="link"><a href="<%= dashboard_url %>">Home</a></li>
        <li class="link"><a href="<%= goals_diet_profile_url %>">Goals</a></li>
        <li class="link"><a href="<%= measurements_url %>">Check-in</a></li>
        <li class="link"><a href="<%= social_profile_url %>">Profile</a></li>
        <li class="link"><a href="#">My Blog</a></li>
        <li class="link"><a href="#">Friends</a></li>
      </ul>
    </div>
      <% end %>


    <%= yield %>

  </body>
</html>

<style>


.group:after {
  content: "";
  display: block;
  clear: both;
}


div, div, ul, li, a, img {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

a {
  text-decoration: none;
}

img {
  height: 100%;
  width: 100%;
}

div {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}


.nav {
  margin-top: 20px;
  background: RGB(12, 94, 177);
  height: 50px;
  color: white;
  font-weight: bold;
  font-family: sans-serif;
}


.link {
  float :left;
  padding: 6px;
  list-style-type: none;
}




</style>